# Django
# ------------
Django>=3.2,<3.3
djangorestframework==3.13.1
django-environ==0.8.1
django-extensions==3.1.5

# Wagtail
# ------------
wagtail>=2.15,<2.16

# Production dependencies
# -----------------
gunicorn==20.1.0

# Other Python deps
# -----------------
psycopg2-binary==2.9.2
arrow==1.2.1
django-timezone-field==4.2.1
black